/* para que el dropdown de departamentos no quede tapado por navbar */
/*
.bootstrap-select.dropup .dropdown-menu {
  top: 100% !important;
  bottom: auto !important;
}

.bootstrap-select .dropdown-menu {
  z-index: 99999 !important;
}

*/

/* Para tamaño del texto en ese value box */
#persona-vb_rango_etario.value-box-value {
  font-size: 1rem !important;
}

/* .rt-th es la clase que usa reactable para las celdas de header.*/
.rt-th {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/*para ocultar el sidebar en la pestaña acerca de*/
.oculto {
  display: none !important;
}


